/* submit button */
.button {
  margin: 45px 0;
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

.button:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}
